<h1>Books</h1>
<table>
  <thead> 
     <tr> 
       <th>Title</th> <th>Body</th> <th></th> 
     </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
          <td><%= book.title %></td><td><%= book.body %> </td> 
          <td><%= link_to "show", book_path(book.id) %>
              <%= link_to "Edit", edit_book_path(book) %>
              <%= link_to "Destroy",book, method: :delete, "data-confirm" => "Are you sure?" %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>New book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%=message %></li>
      <% end %>
  </ul>
<% end %>
<%= form_with model: @book, url: books_path do |f| %>

<h5>Title</h5>
<%= f.text_field :title %>

<h5>Body</h5>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>